/* Media query for larger screens */
@media (min-width: 768px) {
  .about-me img {
    width: 80%;
    max-width: 500px; /* Larger maximum width on bigger screens */
  }
  p {
    max-width: 600px; /*set a max width..prob could of done this on mobile first */
    margin: 0 auto; /* Center the paragraph */
    line-height: 1.6; /* Improve readability */
  }

  /* nav appear  and ham-menu leaves*/
  .real-nav {
    display: block;
  }

  .real-nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
  }

  .real-nav ul a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary);
  }

  .real-nav a:hover {
    text-decoration: underline;
  }

  /* hide ham menu and off screen */
  .ham-menu,
  .off-screen-menu {
    display: none;
  }
}

@media (min-width: 1024px) {
  /* header edits */
  header img {
    height: 70px;
    width: 70px;
    overflow: hidden;
  }

  header {
    overflow: auto;
  }

  /* hero section to enlarge */

  .hero-container {
    min-height: 80vh;
  }
  .hero-container img {
    width: 500px;
    height: 500px;
  }

  .hero-container h2 {
    font-size: 5rem;
    padding-left: 100px;
  }

  .hero-container p {
    font-size: 2rem;
    width: 900px;
    text-align: center;
  }

  .about-me img {
    width: 60%;
    max-width: 600px; /* Even larger maximum width */
  }

  .hero-container {
    min-height: 100vh;
  }

  /* project section edits */

  .project .card {
    min-height: 400px;
    min-width: 500px;
    background-size: contain;
    margin-bottom: 20px;
  }
}
