:root {
  --primary: rgb(72, 61, 139);
  --second: rgb(205, 92, 92);
  --third: rgb(240, 248, 255);
}

/* mobile first default styling */

body {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: rgb(72, 61, 139);
  color: aliceblue;
  margin: 0;
  padding: 0;
}

/* header edits */

header {
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
  background-color: rgb(205, 92, 92);
}

header h1 {
  margin-left: 5px;
}

header h1 span {
  color: rgb(72, 61, 139);
}

/* offscreen menu edits */

.off-screen-menu {
  background-color: black;
  height: 50vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px; /*hidden by default */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* text-align: center; */
  font-size: 3rem;
  transition: right 0.6s ease;
  border-radius: 0 0 12% 12%;
}

.off-screen-menu ul {
  padding: 0;
  margin: 0;
}

.off-screen-menu li {
  list-style: none;
  margin: 20px;
}

.off-screen-menu.active {
  right: 0;
}

/* nav edits */

nav {
  /* border: 1px solid black; */
  padding: 1rem;
  display: flex;
  background-color: none;
}

.ham-menu {
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 1000;
}

.ham-menu span {
  height: 8px;
  width: 100%;
  background-color: rgb(72, 61, 139);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}
/* first span from ham menu to 50% again then angle 45deg */
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: var(--second);
}

/* hide one span while active */
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

/* same thing as first span but negative 45deg rotation */
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
